set $_LAPTOP 'Sharp Corporation 0x149A 0x00000000'
output $_LAPTOP pos 1920,1080 res 1920x1080
output 'Hewlett Packard HP E232 CN46500DS8' pos 0,0 res 1920x1080
output 'Hewlett Packard HP E232 CN46500CSG' pos 1920,0 res 1920x1080

input 1:1:AT_Translated_Set_2_keyboard {
	xkb_options caps:swapescape
}

# vim: filetype=sway
