set $_LAPTOP 'Sharp Corporation 0x149A 0x00000000'
# output $_LAPTOP pos 1920,1080 res 1920x1080
output $_LAPTOP pos 3840,1440 res 1920x1080
output 'DP-1' pos 0,0 res 5120x1440

input 1:1:AT_Translated_Set_2_keyboard {
	xkb_options ctrl:nocaps
}

input 1739:31251:SYNA2393:00_06CB:7A13_Touchpad {
	natural_scroll enabled
	tap enabled
}

# vim: filetype=sway
