[submodule ".vim/pack/stick/start/lightline-ale"]
	path = .vim/pack/stick/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule ".vim/pack/stick/start/sway-vim-syntax"]
	path = .vim/pack/stick/start/sway-vim-syntax
	url = https://github.com/aouelete/sway-vim-syntax
[submodule ".vim/pack/stick/start/vim-abolish"]
	path = .vim/pack/stick/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/pack/stick/start/vim-terraform"]
	path = .vim/pack/stick/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/pack/stick/start/vim-yadi"]
	path = .vim/pack/stick/start/vim-yadi
	url = https://github.com/timakro/vim-yadi
