[Desktop Entry]
Name=Settings (Wayland)
Icon=org.gnome.Settings
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=shell
X-GNOME-Bugzilla-Version=3.34.1
Keywords=Preferences;Settings;
